/*Import da fonte Roboto*/
@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap%27%27');

:root {
    /*Variaveis Érico*/
    --headerHeight: 69px;
    --headerColor: #EC362D;
    --quizzHeaderHeight: 227px;
    --quizzQuestionWidth: 759px;
    --quizzQuestionHeight: 676px;
    --quizzQuestionMargin: 42px;
    --quizzQuestionPadding: 36px;
    --quizzQuestionHeaderWidth: 688px;
    --quizzQuestionHeaderHeigth: 138px;
    /*Variaveis Érico*/

    /* Variaveis Erick */
    --QuizzBoxWidth: 1051px;
    --myQuizzBoxHeight: 181px;
    --tela1QuizzWidth: 340px;
    --tela1QuizzHeight: 181px;
    --allQuizzBoxHeight: 362px;
    /* Variaveis Erick */
}

* {
    box-sizing: border-box;
}

body {
    background-color: #E5E5E5;
}

header {
    font-family: 'Roboto';
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: var(--headerHeight);
    background-color: var(--headerColor);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

header p {
    font-weight: 700;
    font-size: 37px;
    color: #FFFFFF;
}

main {
    font-family: 'Roboto';
}

/* Tela 1 */

.myQuizz{
    width: var(--QuizzBoxWidth);
    height: var(--myQuizzBoxHeight);
    margin: calc(var(--headerHeight) * 2) auto var(--headerHeight) auto;
}

.myQuizzEmpty {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: 1px dashed #D4D4D4;
    border-radius: 5px;
    font-size: 20px;
    text-align: center;
}

.myQuizzFull {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
}

.grayText {
    color: #B9B9B9;
}

.createQuizz {
    border: 1px dashed #EC362D;
    border-radius: 50px;
    width: 151px;
    height: 40px;
    color: #EC362D;
    background-color: #E5E5E5;
    font-size: 20px;
}

.allQuizzes {
    width: var(--QuizzBoxWidth);
    height: var(--allQuizzBoxHeight);
    margin: var(--headerHeight) auto;
}

.bigText{
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 5px;
}

.allQuizzesBox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
}

.allQuizzesBox img, .myQuizzFull img {
    width: 340px;
    height: 181px;
    border-radius: 10px;
}

/*Quizz Header da Tela 2*/
.quizzHeader {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 100%;
    height: var(--quizzHeaderHeight);
    margin-top: var(--headerHeight);
}

.quizzHeader img {
    width: 100%;
}

.quizzHeader .quizzHeaderGradient {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.57), rgba(0, 0, 0, 0.57));
}

.quizzHeader h1 {
    position: absolute;
    font-family: Roboto;
    font-size: 39px;
    font-weight: 400;
    color: white;
}

.quizzQuestion{
    width: var(--quizzQuestionWidth);
    height: var(--quizzQuestionHeight);
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    margin: var(--quizzQuestionMargin) auto;
    padding: var(--quizzQuestionPadding);
}

.quizzQuestionHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--quizzQuestionHeaderWidth);
    height: var(--quizzQuestionHeaderHeigth);
    background-color: #434CA0;    
}

.quizzQuestionHeader p {
    font-weight: 700;
    font-size: 23px;
    color: #FFFFFF;
}