/*Import da fonte Roboto*/
@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap%27%27');

:root {
    /*Variáveis Érico*/
    --bodyBackgroundColor: #E5E5E5;
    --headerHeight: 69px;
    --headerColor: #EC362D;
    --loaderTextColor: #EC362D;
    --quizzHeaderHeight: 227px;
    --quizzHeaderHeightMobile: 142px;
    --quizzQuestionWidth: 759px;
    --quizzQuestionMargin: 42px;
    --quizzQuestionPadding: 36px;
    --quizzQuestionWidthMobile: 375px;
    --quizzQuestionPaddingMobile: 18px;
    --quizzQuestionHeaderWidth: 688px;
    --quizzQuestionHeaderHeigth: 138px;
    --quizzQuestionHeaderHeigthMobile: 89px;
    --quizzQuestionOptionImgWidth: 330px;
    --quizzQuestionOptionImgHeight: auto;
    --quizzQuestionOptionImgWidthMobile: 163px;
    --quizzQuestionOptionImgHeightMobile: auto;
    --quizzResultsWidth: 759px;
    --quizzResultsHeight: 430px;
    --quizzResultsHeaderWidth: 727px;
    --quizzResultsHeaderHeight: 99px;
    --quizzResultsHeaderColor: #EC362D;
    --quizzResultsPadding: 18px;
    --quizzResultsWidthMobile: 375px;
    --quizzResultsImgWidth: 364px;
    --quizzFinalRestartButtonWidth: 260px; 
    --quizzFinalRestartButtonHeight: 52px;
    --quizzFinalRestartButtonColor: #EC362D;

    /*Variaveis GPS*/
    --buttonColor: #EC362D;
    --widthForm:33%;
    --widthFormMobile:100%;
    --fontSizeDesktop: 1.5rem;
    --fontSizeMobile: 1.2rem;
    --fontSizeTitleForm:1.5rem;
    --fontSizeSubtitleForm:1.2rem;

    /* Variaveis Erick */
    --QuizzBoxWidth: 1051px;
    --myQuizzBoxHeight: 181px;
    --tela1QuizzWidth: 340px;
    --tela1QuizzHeight: 181px;
    --allQuizzBoxHeight: 362px;
    /* Variaveis Erick */

}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--bodyBackgroundColor);
}

header {
    font-family: 'Roboto';
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: var(--headerHeight);
    background-color: var(--headerColor);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

header p {
    font-weight: 700;
    font-size: 37px;
    color: #FFFFFF;
}

main {
    font-family: 'Roboto';
}

/* Tela 1 */
/* INICIO TELA 1 - ERICK */

.myQuizz{
    width: 1200px;
    height: auto;
    margin: calc(var(--headerHeight) * 2) auto var(--headerHeight) auto;
}

.myQuizzEmpty {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-evenly;
    border: 1px dashed #D4D4D4;
    border-radius: 5px;
    font-size: 20px;
    text-align: center;
}

.headerPositionAux {
    position: relative;
}

.myQuizzesHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -35px;
}

.myQuizzesHeader p {
    margin-right: 5px;
}

.myQuizzesHeader ion-icon {
    width: 30px;
    height: 30px;
    color: var(--buttonColor);
}

.myQuizzes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 0px 20px;
}

.myQuizzes div {
    margin: 10px 0px;
}

.myQuizzFull {
    display: flex;
    flex-direction: column;
    height: 100%;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.myQuizzFull div:nth-child(1){
    display: flex;
    gap: 1rem;
    align-items: center;
}

.myQuizzFull ion-icon {
    font-size: 32px;
    color: red;
}

.grayText {
    color: #B9B9B9;
    margin: 30px auto;
}

.createQuizz {
    border: 1px dashed #EC362D;
    border-radius: 50px;
    width: 151px;
    height: 40px;
    color: #EC362D;
    background-color: #E5E5E5;
    font-size: 20px;
    margin-bottom: 30px;
}

.allQuizzes {
    width: var(--QuizzBoxWidth);
    height: var(--allQuizzBoxHeight);
    margin: var(--headerHeight) auto;
    margin-bottom: 100px;
}

.bigText{
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 8px;
}

.allQuizzesBox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 10px;
    max-height: 105%;
    overflow-y: auto;
}

.allQuizzesBox img, .myQuizzFull img, .myQuizzes img  {
    width: 340px;
    height: 181px;
    border-radius: 10px;
}

.qbox {
    position: relative;
}

.qbox:hover, .quizzQuestionOption {
    cursor: pointer;
}


.qbox p {
    word-break: break-word;
    position: absolute;
    background-image: linear-gradient(to top, black, transparent);
    border-radius: 8px;
    bottom: 2%;
    left: 0%;
    width: 100%;
    font-size: 22px;
    height: 58%;
    color: #FFFFFF;
    padding-left: 0.5rem;
    padding-top: 3rem;
    overflow-y: hidden;
}

@media (max-width: 1100px) {

    .myQuizzEmpty, .myQuizz, .allQuizzes {
        width: 100%;
    }

    .myQuizz {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .myQuizzFull{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .allQuizzes {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .allQuizzes .bigText, .myQuizzFull .bigText {
        margin-right: 11rem;
    }

    .allQuizzesBox{
        min-height: 104%;
        flex-direction: column;
        flex-wrap: nowrap;
    }
}

/* FIM TELA 1 - ERICK */

/*INICIO TELA 2 - ÉRICO*/

.screen2 {
    overflow-wrap: break-word;
    word-break: break-all;
}

.screenLoader{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--bodyBackgroundColor);
    height: calc(100vh - var(--headerHeight));
    margin-top: var(--headerHeight);
}

.screenLoader img {
    animation: loaderSpin 1.2s infinite linear;
}

@keyframes loaderSpin {
    from {
        transform: rotate(0deg);
    } 
    to {
        transform: rotate(360deg);
    }
}

.screenLoader p {
    text-align: center;
    font-size: 25px;
    font-weight: 400;
    margin-top: 15px;
    color: var(--loaderTextColor);
}

.quizzHeader {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 100%;
    height: var(--quizzHeaderHeight);
    margin-top: var(--headerHeight);
    margin-bottom: var(--quizzQuestionMargin);
    background-color: blue;
}

.quizzHeader img {
    width: 100%;
}

.quizzHeader .quizzHeaderGradient {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: 0.6;
}

.quizzHeader h1 {
    position: absolute;
    text-align: center;
    font-size: 39px;
    font-weight: 400;
    color: #FFFFFF;
}

.quizzOptions {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.quizzOptions figure {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quizzOptions figure .quizzQuestionOptionBackground {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.6;
    background-color: #FFFFFF;
}

.quizzQuestion{
    width: var(--quizzQuestionWidth);
    height: auto;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    margin: 0 auto var(--quizzQuestionMargin) auto;
    padding: var(--quizzQuestionPadding);
}

.quizzQuestionHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--quizzQuestionHeaderWidth);
    height: var(--quizzQuestionHeaderHeigth);
    background-color: var(--quizzQuestionHeaderColor1);
    padding: 15px;
}

.quizzQuestionHeader p {
    text-align: center;
    font-weight: 700;
    font-size: 23px;
    color: #FFFFFF;
}

.quizzQuestionOption {
    margin-top: 30px;
    width: 50%;
}

.quizzQuestionOption img{
    width: var(--quizzQuestionOptionImgWidth);
    height: var(--quizzQuestionOptionImgHeight);
}

.quizzQuestionOption p {
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    margin-top: 10px;
    padding: 0px 10px;
}

.quizzResults {
    width: var(--quizzResultsWidth);
    height: var(--quizzResultsHeight);
    padding: var(--quizzResultsPadding);
    background-color: #FFFFFF;
    margin: 0 auto;
    margin-bottom: 30px; /*Remove after*/
}

.quizzResultsHeader {
    width: var(--quizzResultsHeaderWidth);
    height: var(--quizzResultsHeaderHeight);
    background-color: var(--quizzResultsHeaderColor);
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 18px;
}

.quizzResultsHeader p {
    text-align: center;
    font-size: 23px;
    font-weight: 700;
    color: #FFFFFF;
}

.quizzResultsMain {
    display: flex;
    justify-content: space-between;
    word-break: normal;
}

.quizzResultsMain img {
    width: var(--quizzResultsImgWidth);
    height: 273px;
}

.quizzResultsMain p {
    width: 328px;
    color: #484848;
    font-size: 19px;
    font-weight: 700;
}

.quizzFinalButtons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quizzFinalButtons button {
    margin-bottom: 20px;
}

.quizzFinalButtons button p {
    font-size: 21px;
    font-weight: 400;
}

.quizzFinalButtons button.restartQuizz {
    width: var(--quizzFinalRestartButtonWidth);
    height: var(--quizzFinalRestartButtonHeight);
    background-color: var(--quizzFinalRestartButtonColor);
    border: 0px;
    border-radius: 15px;
}

.quizzFinalButtons button.restartQuizz p {
    color: #FFFFFF;
}

.quizzFinalButtons button.returnHome {
    border: 0px;
    background-color: var(--bodyBackgroundColor);
}

.quizzFinalButtons button.returnHome p {
    color: #818181;
}


.returnh{
    font-size: var(--fontSizeMobile);
    color: #818181;
    cursor: pointer;
}

.hideElement {
    display: none;
}

@media (max-width: 850px) {

    .quizzHeader {
        height: var(--quizzHeaderHeightMobile);
    }

    .quizzHeader h1 {
        font-size: 19px;
    }

    .quizzQuestion {
        height: auto;
    }

    .quizzQuestionOption {
        width: var(--quizzQuestionOptionImgWidthMobile);
    }

    .quizzQuestionOption img{
        width: var(--quizzQuestionOptionImgWidthMobile);
        height: var(--quizzQuestionOptionImgHeightMobile);
    }

    .quizzQuestionOption p {
        font-size: 13px;
    }

    .quizzQuestion{
        width: var(--quizzQuestionWidthMobile);  
        padding: var(--quizzQuestionPaddingMobile);
    }
    
    .quizzQuestionHeader, .quizzResultsHeader {
        width: 100%;
        height: var(--quizzQuestionHeaderHeigthMobile);
        padding: 15px;
    }

    .quizzQuestionHeader p, .quizzResultsHeader p {
        font-size: 19px;
    }

    .quizzResults {
        width: var(--quizzResultsWidthMobile);
        height: auto;
    }

    .quizzResultsMain {
        flex-direction: column;
    }

    .quizzResultsMain img {
        width: 100%;
    }

    .quizzResultsMain p {
        margin-top: 15px;
        font-size: 17px;
        
    }
    
}

@media (max-width: 350px) {

    .quizzQuestion {
        width: 100%;
        flex-direction: column;
    }

    .quizzOptions {
        justify-content: center;
    }

    .quizzResults {
        width: 100%;
    }

    .quizzResultsMain p {
        width: 100%;
    }
}

@media (max-width: 260px) {
    .quizzFinalButtons button.restartQuizz {
        width: 95%;
    }
}


/*FORMULÁRIOS - CRIAÇÃO DE QUIZZ - GPS*/

.hidden{
    display: none !important;
    z-index: -5;
}
.sectionForms{
    background-color: #E5E5E5;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    position: absolute;
    top: 15%;
    padding-bottom: 8%;
}
.forms{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2%;
}
form{
    width: var(--widthForm);
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 1%;
    border: 1px solid rgb(226, 226, 226);
}
.forms input{
    height: 46px;
    margin-bottom: 2%;
    border: 1px solid rgb(226, 226, 226);
    border-radius: 7px;
    padding-left: 2%;
}
.buttonForm{
    width: 20%;
    height: 54px;
    margin-top: 3%;
    margin-bottom: 4%;
    color: white;
    background-color: var(--buttonColor);
    border: none;
    border-radius: 20px;
    font-size: var(--fontSizeSubtitleForm);
    font-weight: 400;
}
.titleForm{
    font-size: var(--fontSizeTitleForm);
    font-weight: 700;
    margin-bottom: 3%;
}
.subtitleForm{
    font-size: var(--fontSizeSubtitleForm);
    font-weight: 700;
    margin-bottom: 2%;
    margin-top: 3%;
}
.finalQuizz{
    width: 25%;
    height: 270px;
    border-radius: 10px;
    position: relative;
    z-index: 2;
    background-color: black;
    cursor: pointer;
}
.imgfinal{
    width: 100%;
    height: 260px;
    border-radius: 8px;
    -webkit-mask-image: linear-gradient(to bottom, black, transparent);;
    z-index:1;
}
.titlefinal{
    max-width: 90%;
    color:white;
    font-size: var(--fontSizeTitleForm);
    position: absolute;
    bottom:8%;
    left:5%;
    overflow-wrap: break-word;
    word-break: break-all;
}
.question,.level{
    width: var(--widthForm);
    height: 84px;
    margin-bottom: 2%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2%;
}
.sectionForms ion-icon{
    font-size: 36px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}
::-webkit-scrollbar{
    display: none;
}
::placeholder{
    font-style: italic;
}
ion-icon,button{
    cursor: pointer;
}

@media (max-width: 1100px) {


    .sectionForms{
        height: auto;
        top: 12%;
        padding-bottom:8%;
        overflow-y: auto;
    }
    .question,.level{
        width: var(--widthFormMobile);
        margin-bottom: 5%;
        padding: 3%;
    }
    .buttonForm{
        width: 50%;
        margin-top: 8%;
        font-size: var(--fontSizeSubtitleForm);
    }
    .buttonFinal{
        width: 30%;
        margin-top: 8%;
        margin-bottom: 5%;
        font-size: var(--fontSizeSubtitleForm);
    }
    .titleForm{
        font-size: var(--fontSizeTitleForm);
        font-weight: 700;
        margin-bottom: 7%;
    }
    .backHome{
        font-size: var(--fontSizeSubtitleForm);
        margin-top: 5%;
    }      
    form{
        width: var(--widthFormMobile);
        padding: 3%;
    }
    .forms{
        height: auto;
        overflow-y: auto;
        margin-bottom: 4%;
    }
    .finalQuizz{
        width: 40%;
        height: 230px;
    }
    .imgfinal{
        width: 100%;
        height: 230px;
    }
    .titlefinal{
        max-width: 90%;
        font-size: var(--fontSizeSubtitleForm);
    }
}

@media (max-width: 800px) {
    .finalQuizz{
        width: 80%;
        height: 30vh;
    }
    .buttonForm{
        width: 70%;
    }
    .buttonFinal{
        width: 50%;
    }
}

@media (max-width: 500px) {
    .finalQuizz{
        width: 80%;
        height: 25vh;
    }
}



